<div class="alert alert-block alert-info">
<ul>
<li>Course: Machine Learning</li>
<li>Project: 01</li>
<li>Team members</li>
<li>Mauro Travieso Pena</li>
<li>Quoc Huy Luong</li>
<li>Ngoc Bao Tran</li>
<ul>
</div>

# Classification with Decision Tree

<div class="alert alert-block alert-info">
In this experiment, we use decision tree to classify the anmie dataset.
<ol>
<li>Clean and Transform Data</li>
<li>Split Training/Testing dataset</li>
<li>Run the model with 3 kind of data: Original data, Normalized data and PCA data</li>
<li>Turning the model based on the learning curve and validation curve
<ol><b>Learning Curve</b>
<li>Using scikit-learn method
#https://scikit-learn.org/stable/modules/learning_curve.html</li>
<li>Our method (we did it, because we want to know how learning curve method works)</li>
</ol>
<ol><b>Validation Curve</b>
<li>Using scikit-learn method
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.validation_curve.html#sklearn.model_selection.validation_curve
<li>Our method (we did it, because we want to know how Validation curve method works)</li>
</ol>
</li>
<li>Grid search CV</li>
<li>Final Evaluation</li>
</ol> 
</div>

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import import_ipynb 
import functions as myLib
import myPlot as myPlotLib

importing Jupyter notebook from functions.ipynb
importing Jupyter notebook from myPlot.ipynb

# Load data from files

In [2]:
RawData = pd.read_csv('../data/anime.csv')

#### Clean and Transform Data

In [3]:
Cleaned_Data = myLib.myCleanAndTransformData(RawData)
Y_Data = Cleaned_Data['Class']
X_Data = Cleaned_Data.drop(columns=['Class'])

#### Normalize  Data

In [4]:
Normalized_Data = myLib.myNormalize(X_Data)

#### PCA

In [5]:
n_components=40
PCA_Data = myLib.myPCA(Normalized_Data,n_components)
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-0.311391,0.786561,-0.420790,0.005234,-0.078663,-0.049646,-0.062640,0.007159,-0.075350,-0.030939,...,-0.011728,-0.014541,0.009385,-0.010536,-0.008256,-0.004200,0.005373,-0.013778,-0.006237,-0.008713
1,-0.284662,0.764035,-0.411982,-0.010872,-0.110067,-0.087035,-0.096786,0.054585,-0.179466,-0.045549,...,-0.007204,-0.013037,0.006279,-0.011394,-0.008336,-0.001433,0.008481,-0.013290,-0.007967,-0.009144
2,-0.284659,0.767955,-0.395541,-0.007615,-0.091869,-0.059768,-0.062093,0.036484,-0.086830,-0.024722,...,-0.009448,-0.014743,0.006490,-0.012768,-0.009965,-0.005390,0.006614,-0.015253,-0.012579,-0.009056
3,-0.291422,0.777222,-0.408286,0.000300,-0.080828,-0.049801,-0.056895,0.019128,-0.070776,-0.027971,...,-0.012228,-0.015440,0.007549,-0.011337,-0.009423,-0.007861,0.004354,-0.014841,-0.011565,-0.010910
4,0.731807,-0.153182,-0.102195,-0.458238,0.816874,0.046188,0.015792,-0.064744,0.014353,-0.005002,...,0.006958,-0.013313,0.019676,-0.014778,-0.007201,0.026962,0.025856,-0.021114,0.000782,0.043708

####----------------------------------------------------------------
# Decision Tree Classification 
####----------------------------------------------------------------

In [6]:
Y_Data.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [7]:
X_Data.head()

,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,genre_ Comedy,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
0,200630,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,200630,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,200630,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,200630,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,793665,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
Normalized_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,79,80,81,82,83,84,85,86,87,88
0,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.782769,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-0.311391,0.786561,-0.420790,0.005234,-0.078663,-0.049646,-0.062640,0.007159,-0.075350,-0.030939,...,-0.011728,-0.014541,0.009385,-0.010536,-0.008256,-0.004200,0.005373,-0.013778,-0.006237,-0.008713
1,-0.284662,0.764035,-0.411982,-0.010872,-0.110067,-0.087035,-0.096786,0.054585,-0.179466,-0.045549,...,-0.007204,-0.013037,0.006279,-0.011394,-0.008336,-0.001433,0.008481,-0.013290,-0.007967,-0.009144
2,-0.284659,0.767955,-0.395541,-0.007615,-0.091869,-0.059768,-0.062093,0.036484,-0.086830,-0.024722,...,-0.009448,-0.014743,0.006490,-0.012768,-0.009965,-0.005390,0.006614,-0.015253,-0.012579,-0.009056
3,-0.291422,0.777222,-0.408286,0.000300,-0.080828,-0.049801,-0.056895,0.019128,-0.070776,-0.027971,...,-0.012228,-0.015440,0.007549,-0.011337,-0.009423,-0.007861,0.004354,-0.014841,-0.011565,-0.010910
4,0.731807,-0.153182,-0.102195,-0.458238,0.816874,0.046188,0.015792,-0.064744,0.014353,-0.005002,...,0.006958,-0.013313,0.019676,-0.014778,-0.007201,0.026962,0.025856,-0.021114,0.000782,0.043708

####----------------------------------------------------------------
#### Split Original Data
####----------------------------------------------------------------

In [10]:
X_train, X_test, y_train, y_test  = myLib.mySplitData(X_Data,Y_Data,0.33,42)

X_train.head()

,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,genre_ Comedy,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
32729,132,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24946,7051,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8676,65896,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13244,67936,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29384,49,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_test.head()

,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,genre_ Comedy,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
22373,3331,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10508,28423,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11570,5078,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22262,390,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
734,482268,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [13]:
y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
#### Split Original Normalized_Data
####----------------------------------------------------------------

In [14]:
Normalized_X_train, Normalized_X_test, Normalized_y_train, Normalized_y_test  = myLib.mySplitData(Normalized_Data,Y_Data,0.33,42)

Normalized_X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,79,80,81,82,83,84,85,86,87,88
32729,0.000118,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24946,0.006942,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8676,0.064980,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13244,0.066992,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29384,0.000036,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
Normalized_X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,79,80,81,82,83,84,85,86,87,88
22373,0.003273,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10508,0.028021,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11570,0.004997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22262,0.000373,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
734,0.475642,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
Normalized_y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [17]:
Normalized_y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
#### Split  PCA_Data
####----------------------------------------------------------------

In [18]:
PCA_X_train, PCA_X_test, PCA_y_train, PCA_y_test  = myLib.mySplitData(PCA_Data,Y_Data,0.33,42)

PCA_X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
32729,-0.222410,0.292968,0.905577,-0.156240,-0.108038,-0.031218,-0.020906,0.049072,-0.031243,0.007778,...,-0.432500,-0.042677,0.027065,-0.023012,0.006639,0.054710,0.051948,0.070345,0.306362,-0.226856
24946,-0.645218,-0.558932,-0.134425,-0.006471,-0.054637,-0.037266,-0.023106,-0.012107,-0.029795,0.004538,...,0.049421,0.042384,-0.037751,-0.002917,0.012132,0.350806,0.801692,-0.403318,-0.204632,-0.088194
8676,0.697428,-0.148271,-0.076755,-0.039170,-0.073629,-0.033199,-0.020331,0.015740,-0.034394,-0.002522,...,0.146156,0.198345,-0.365236,-0.068318,0.856669,-0.128332,-0.056886,-0.036414,-0.035777,-0.024319
13244,0.703994,-0.156393,-0.072758,-0.051336,-0.099958,-0.053601,-0.030918,0.052111,-0.056604,-0.005999,...,-0.012921,-0.004193,0.003548,-0.000350,-0.002380,-0.014021,-0.011275,-0.002115,-0.002350,-0.006418
29384,0.702822,-0.120081,-0.090825,-0.060693,-0.137073,-0.101899,-0.122610,0.067888,-0.325710,0.726579,...,-0.006907,-0.000092,0.001867,0.001915,0.000040,-0.009586,-0.009932,0.000752,-0.000513,-0.001100

In [19]:
PCA_X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
22373,-0.124203,0.125895,0.130241,0.040248,-0.039136,0.017932,0.271853,0.949263,0.306449,-0.021895,...,-0.019529,-0.022854,0.030704,0.021083,0.014145,-0.014223,0.001069,-0.008795,-0.003536,-0.012517
10508,0.709233,-0.165356,-0.059587,-0.058864,-0.111087,-0.063255,-0.035980,0.070086,-0.072611,-0.002226,...,-0.010661,-0.002648,0.001397,-0.001005,-0.002563,-0.013150,-0.010707,-0.001294,-0.003266,-0.006857
11570,-0.302989,0.781850,-0.421044,-0.036603,-0.226477,0.908892,0.064898,-0.181633,0.053341,-0.011209,...,-0.006012,-0.006195,-0.000416,-0.007842,-0.006053,-0.004757,0.002184,-0.005681,-0.004553,-0.016266
22262,-0.292379,0.765577,-0.409821,-0.008916,-0.110511,-0.085449,-0.096096,0.057723,-0.179229,-0.042895,...,-0.009838,-0.008743,0.000744,-0.007465,-0.006512,-0.009538,-0.000092,-0.007039,-0.007473,-0.020761
734,0.719961,-0.159583,-0.077230,-0.055383,-0.099040,-0.056883,-0.032346,0.045618,-0.057094,-0.011492,...,-0.007471,-0.013077,0.015001,-0.008478,-0.006153,0.002750,0.006463,-0.015051,-0.003370,0.017618

In [20]:
PCA_y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [21]:
PCA_y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
# Model Training 
####----------------------------------------------------------------

In [22]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

def myDT(clf,X_train,y_train,X_test,y_test,cv):
    #Fit the model
    #The maximum depth of the tree. 
    #If None, then nodes are expanded until all leaves are pure
    # or until all leaves contain less than min_samples_split samples.
    #min_samples_split: by default = 1
    clf.fit(X_train, y_train)
    #check accuracy of model on the train and test data
    train_score = clf.score(X_train, y_train)
    test_score = clf.score(X_test, y_test)
    #Using CV
    cv_scores = cross_val_score(clf, X_train, y_train, cv=cv)
    return pd.DataFrame({"leaves":[clf.get_n_leaves()],"depth":[clf.get_depth()],"train_score":[train_score],"test_score":[test_score],"cv_score":[cv_scores.mean()]})

In [23]:
def myDT_ModelTurning(clf,depths,X_train,y_train,X_test,y_test,cv):
    df = pd.DataFrame({"depth":[],"train_score":[],"cv_score":[]})
    for depth in depths:
        clf1 = DecisionTreeClassifier(max_depth=depth,random_state=0)
        score_df = myDT(clf1,X_train,y_train,X_test,y_test,cv)
        df = df.append(pd.DataFrame({"depth":depth,"train_score":score_df.train_score,"test_score":score_df.test_score,"cv_score":score_df.cv_score}),ignore_index=True,sort=False)
    
    return df

In [24]:

cv = 10
clf = DecisionTreeClassifier(random_state=0)

In [25]:
#Original Data
scores = myDT(clf,X_train,y_train,X_test,y_test,cv)
scores

   leaves  depth  train_score  test_score  cv_score
0    4456     44     0.988382    0.821124  0.815258

In [26]:
#Normalized Data
scores = myDT(clf,Normalized_X_train,Normalized_y_train,Normalized_X_test,Normalized_y_test,cv)
scores

   leaves  depth  train_score  test_score  cv_score
0    4456     44     0.988382    0.820866    0.8153

In [27]:
#PCA Data
scores = myDT(clf,PCA_X_train,PCA_y_train,PCA_X_test,PCA_y_test,cv)
scores

   leaves  depth  train_score  test_score  cv_score
0    5643     72     0.974729    0.749247  0.746609

In [28]:
X_Data = PCA_Data
X_train = PCA_X_train
X_test = PCA_X_test
y_train = PCA_y_train
y_test = PCA_y_test

####----------------------------------------------------------------
# Learning Curve
####----------------------------------------------------------------
#https://scikit-learn.org/stable/modules/learning_curve.html

In [29]:
from sklearn.model_selection import learning_curve
splitsSize = np.linspace(0.04,0.99,20)
splitsSize

array([0.04, 0.09, 0.14, 0.19, 0.24, 0.29, 0.34, 0.39, 0.44, 0.49, 0.54,
       0.59, 0.64, 0.69, 0.74, 0.79, 0.84, 0.89, 0.94, 0.99])

In [30]:
train_sizes, train_scores, test_scores = learning_curve(
        clf, X_Data, Y_Data, cv=cv, n_jobs=1, train_sizes=splitsSize)

In [31]:
train_sizes

array([ 1267,  2851,  4435,  6019,  7603,  9187, 10771, 12355, 13939,
       15523, 17107, 18691, 20275, 21859, 23443, 25027, 26611, 28195,
       29779, 31363])

In [32]:
train_scores

array([[1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ],
       [0.99860896, 0.99866246, 0.99855545, 0.99855545, 0.99855545,
        0.99887646, 0.99871596, 0.99892997, 0.99887646, 1.        ],
       [0.99516646, 0.9950185 , 0.99477189, 0.99482121, 0.99516646,
        0.99551171, 0.99556104, 0.995709  , 0.99664612, 1.        ],
       [0.99364106, 0.99350382, 0.99313784, 0.99249737, 0.99286335,
        0.99350382, 0.99377831, 0.99368681, 0.99519649, 0.99634018],
       [0.99227915, 0.99219383, 0.99185258, 0.99121273, 0.99185258,
        0.99240712, 0.99274837, 0.9926204 , 0.99398541, 0.99377213],
       [0.99001079, 0.98977105, 0.98957126, 0.98885204, 0.98953131,
        0.99076997, 0.99160906, 0.99180885, 0.99308747, 0.99244816],
       [0.98248844, 0.98226297, 0.98196235, 0.9811732 , 0.98207508,
        0.98372853, 0.98680997, 0.98872647, 0.99000413, 0.99116907],
       [0.9748537 , 0.9747473 , 0.97432169, 0.97357688, 0.97439262,
        0.97605959, 0.97935804, 0.97985458, 0.98208902, 0.99053024],
       [0.96729239, 0.96725881, 0.96685584, 0.96615064, 0.96688942,
        0.96873636, 0.9717922 , 0.97222875, 0.97300111, 0.99086605],
       [0.96719064, 0.96722252, 0.96683991, 0.96617033, 0.96674425,
        0.96856168, 0.97146319, 0.97203711, 0.97235596, 0.99123171]])

In [33]:
test_scores

array([[0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.64385118, 0.64385118, 0.64385118, 0.64375   , 0.64375   ,
        0.64375   , 0.64375   , 0.64375   , 0.64393294, 0.64393294],
       [0.66571997, 0.65947174, 0.66060778, 0.66875   , 0.68494318,
        0.68465909, 0.65823864, 0.63721591, 0.66410912, 0.64393294],
       [0.71201363, 0.71201363, 0.7140017 , 0.71761364, 0.73551136,
        0.75113636, 0.73948864, 0.72073864, 0.7564649 , 0.64393294],
       [0.74126669, 0.73473445, 0.75319512, 0.75028409, 0.76818182,
        0.77926136, 0.78181818, 0.75255682, 0.73941461, 0.62858767],
       [0.75745527, 0.75035501, 0.76569156, 0.77357955, 0.78039773,
        0.79460227, 0.78181818, 0.75511364, 0.71724922, 0.54617789],
       [0.75915933, 0.7554672 , 0.7639875 , 0.77414773, 0.78210227,
        0.78068182, 0.784375  , 0.75454545, 0.71014493, 0.37652742],
       [0.7583073 , 0.75177506, 0.7665436 , 0.775     , 0.78210227,
        0.77698864, 0.71107955, 0.74943182, 0.68968457, 0.34413186],
       [0.76455552, 0.7472309 , 0.76512354, 0.775     , 0.77982955,
        0.77727273, 0.72556818, 0.70653409, 0.67718102, 0.29099176],
       [0.76171542, 0.750071  , 0.76540755, 0.77471591, 0.78011364,
        0.77755682, 0.74261364, 0.7125    , 0.65217391, 0.38079   ],
       [0.7639875 , 0.75262709, 0.76512354, 0.77784091, 0.78210227,
        0.78238636, 0.74460227, 0.71448864, 0.65558397, 0.35322535]])

In [ ]:
title = "Learning Curves"
myPlotLib.plot_learning_curve(clf, title, X_Data, Y_Data, ylim=(0.1, 1.03),train_sizes=splitsSize, cv=cv, n_jobs=4)
plt.show()

In [ ]:
def myDT_LearningCurve(clf,X_Data,Y_Data,splits,cv):
    df = pd.DataFrame({"percent":[],"train_score":[],"test_score":[],"cv_score":[]})
    for X in splits:
        X_train, X_test, y_train, y_test  = myLib.mySplitDataByTrainSize(X_Data,Y_Data,X,42)
        score_df = myDT(clf,X_train,y_train,X_test,y_test,cv)
        df = df.append(pd.DataFrame({"percent":X,"train_score":score_df.train_score,"test_score":score_df.test_score,"cv_score":score_df.cv_score}),ignore_index=True,sort=False)
    return df

In [ ]:
learning_df= myDT_LearningCurve(clf,X_Data,Y_Data,splitsSize,cv)
learning_df

In [ ]:
learning_df.describe()

In [ ]:

fig, ax = plt.subplots()
plt.plot(learning_df.percent, learning_df.train_score, color='blue', marker='o', markersize=5, label='training')

plt.plot(learning_df.percent, learning_df.test_score, color='red', marker='o', markersize=5, label='testing')

plt.plot(learning_df.percent, learning_df.cv_score, color='orange', marker='o', markersize=5, label='cross validation')

ax.legend()
ax.set_title("Learning Curve of CV:10")

<div class="alert alert-block alert-danger">
Based on the Learning Curve, we saw that 
<ul>
<li>Very small samples dataset has high variance. It means the model perfomrs very well on training data (<b>min = 0.993589</b>), but has high erro rates on the test data (<b>min = 0.692473</b>)</li>
<li>Adding more training samples (<b>>25K</b>) may not affect the accuracy of the model</li>
</ul>
</div>

####----------------------------------------------------------------
# Validation Curve
####----------------------------------------------------------------

In [ ]:
depths = [1,2,4, 5, 8,10,15, 20,25,30,35,40,50,60,70,80,90,100,150,200]

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.validation_curve.html#sklearn.model_selection.validation_curve
from sklearn.model_selection import validation_curve
train_scores, valid_scores = validation_curve(DecisionTreeClassifier(),X_train, y_train, 
    param_name="max_depth", param_range=depths,
    cv=cv, n_jobs=1)

In [ ]:
train_scores

In [ ]:
valid_scores

In [ ]:
train_scores_mean = np.mean(train_scores, axis=1)
train_scores_std = np.std(train_scores, axis=1)
valid_scores_mean = np.mean(valid_scores, axis=1)
valid_scores_std = np.std(valid_scores, axis=1)

plt.title("Validation Curve of CV:10")
plt.xlabel("Depth")
plt.ylabel("Score")
plt.ylim(0.0, 1.1)
lw = 2
plt.semilogx(depths, train_scores_mean, label="Training score",
             color="darkorange", lw=lw)
plt.fill_between(depths, train_scores_mean - train_scores_std,
                 train_scores_mean + train_scores_std, alpha=0.2,
                 color="darkorange", lw=lw)
plt.semilogx(depths, valid_scores_mean, label="Cross-validation score",
             color="navy", lw=lw)
plt.fill_between(depths, valid_scores_mean - valid_scores_std,
                 valid_scores_mean + valid_scores_std, alpha=0.2,
                 color="navy", lw=lw)
plt.legend(loc="best")
plt.show()

####----------------------------------------------------------------
# Model Turning
####----------------------------------------------------------------

In [ ]:
learnig_df= myDT_ModelTurning(clf,depths,X_train,y_train,X_test,y_test,cv)
learnig_df

In [ ]:
learnig_df.describe()

In [ ]:

fig,ax = plt.subplots()
plt.xlabel("Depth")
plt.plot(learnig_df.depth, learnig_df.train_score, color='blue', marker='o', markersize=5, label='training')
plt.plot(learnig_df.depth, learnig_df.cv_score, color='orange', marker='o', markersize=5, label='cross validation')

ax.legend()
ax.set_title("Training and Cross validation scores of CV:10")

<div class="alert alert-block alert-danger">
Based on the Validation Curve, we saw that with the depth > <b>50</b>, 
<ul>
<li>The training scores almost are the same: <b>0.985456</b> </li>
<li>The cross validation scores almost are the same: <b>0.751909</b> </li>
</ul>
That means, the best value of the depth < <b>50</b>, we will do grid search CV based on this range  
</div>

####----------------------------------------------------------------
# Grid Search CV
####----------------------------------------------------------------

In [ ]:
#GridSearchCV
def myGS(X_train,y_train,depths,num_leafs):
    from sklearn.model_selection import GridSearchCV
    
    param_grid = [{'max_depth':depths,
                  'min_samples_leaf':num_leafs}]
    clf2 = DecisionTreeClassifier(random_state=0)
    gs = GridSearchCV(estimator=clf2, param_grid=param_grid, cv=10)
    
    gs = gs.fit(X_train, y_train)
    return gs

In [ ]:
depths = range(10,50,20)
num_leafs = [1,2,4, 5, 8, 10, 20]
gs = myGS(X_train,y_train,depths,num_leafs)
#Training Score
gs.best_score_

In [ ]:
gs.best_params_

####----------------------------------------------------------------
# Final Evaluation
####----------------------------------------------------------------

In [ ]:
clf = DecisionTreeClassifier(random_state=0,max_depth=gs.best_params_['max_depth'],min_samples_leaf=gs.best_params_['min_samples_leaf'])
#Original Data
scores = myDT(clf,X_train,y_train,X_test,y_test,cv)
scores

<div class="alert alert-block alert-warning">
The accuracy of the model (PCA Data, 40 components): <b>0.791771</b> 
</div>

####----------------------------------------------------------------
# ROC Curve
####----------------------------------------------------------------

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_curve,auc

dt_lm = LogisticRegression(solver='lbfgs', max_iter=1000)
clf.fit(X_train, y_train)
dt_lm.fit(X_test, y_test)

y_pred_dt = clf.predict_proba(X_test)[:, 1]
fpr_dt, tpr_dt, _ = roc_curve(y_test, y_pred_dt)
roc_auc = auc(fpr_dt, tpr_dt)

plt.figure(1)
plt.plot([0, 1], [0, 1], 'k--')
plt.plot(fpr_dt, tpr_dt, label='ROC of DT (AUC = %0.2f)' % roc_auc)
plt.xlabel('False positive rate')
plt.ylabel('True positive rate')
plt.title('ROC curve')
plt.legend(loc='best')
plt.show()

####----------------------------------------------------------------
# Export Model
####----------------------------------------------------------------

In [ ]:

from sklearn.externals import joblib
joblib.dump(clf, 'my_dt_model.pkl', compress=9)

In [ ]:
from sklearn.externals import joblib
model_clone = joblib.load('my_dt_model.pkl')
y_pred_dt = model_clone.predict_proba(X_test)[:, 1]
y_pred_dt