#### Course: Machine Learning 
#### Project: 01
#### Team members
#### + Mauro Travieso Pena
#### + Quoc Huy Luong
#### + Ngoc Bao Tran

# Overview of the experiment

<div class="alert alert-block alert-info">
Some comments here 
</div>

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import import_ipynb 
import functions as myLib

importing Jupyter notebook from functions.ipynb

# Load data from files

In [2]:
RawData = pd.read_csv('../data/anime.csv')

#### Clean and Transform Data

In [3]:
Cleaned_Data = myLib.myCleanAndTransformData(RawData)
Y_Data = Cleaned_Data['Class']
X_Data = Cleaned_Data.drop(columns=['Class'])

#### Normalize  Data

In [4]:
Normalized_Data = myLib.myNormalize(X_Data)

#### PCA

In [5]:
n_components=10
PCA_Data = myLib.myPCA(Normalized_Data,n_components)
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.311566,0.786509,-0.420825,0.005203,-0.078784,-0.049204,-0.064361,0.007242,-0.075692,-0.033064
1,-0.284842,0.763991,-0.412010,-0.010928,-0.110114,-0.087877,-0.098858,0.053025,-0.180259,-0.062024
2,-0.284838,0.767908,-0.395560,-0.007557,-0.091526,-0.058767,-0.057678,0.037261,-0.087918,-0.014412
3,-0.291599,0.777173,-0.408307,0.000301,-0.080585,-0.050303,-0.053780,0.018316,-0.072684,-0.022750
4,0.732145,-0.153155,-0.102202,-0.458239,0.816888,0.046405,0.016481,-0.064551,0.014134,-0.004218

####----------------------------------------------------------------
# Decision Tree Classification 
####----------------------------------------------------------------

In [6]:
Y_Data.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [7]:
X_Data.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
0,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,64,793665,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
Normalized_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.034673,0.782769,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9
0,-0.311566,0.786509,-0.420825,0.005203,-0.078784,-0.049204,-0.064361,0.007242,-0.075692,-0.033064
1,-0.284842,0.763991,-0.412010,-0.010928,-0.110114,-0.087877,-0.098858,0.053025,-0.180259,-0.062024
2,-0.284838,0.767908,-0.395560,-0.007557,-0.091526,-0.058767,-0.057678,0.037261,-0.087918,-0.014412
3,-0.291599,0.777173,-0.408307,0.000301,-0.080585,-0.050303,-0.053780,0.018316,-0.072684,-0.022750
4,0.732145,-0.153155,-0.102202,-0.458239,0.816888,0.046405,0.016481,-0.064551,0.014134,-0.004218

####----------------------------------------------------------------
#### Split Original Data
####----------------------------------------------------------------

In [10]:
X_train, X_test, y_train, y_test  = myLib.mySplitData(X_Data,Y_Data,0.33,42)

X_train.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
32729,2,132,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24946,2,7051,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8676,50,65896,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13244,52,67936,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29384,15,49,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_test.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
22373,10,3331,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10508,12,28423,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11570,1,5078,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22262,1,390,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
734,15,482268,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [13]:
y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
#### Split Original Normalized_Data
####----------------------------------------------------------------

In [14]:
Normalized_X_train, Normalized_X_test, Normalized_y_train, Normalized_y_test  = myLib.mySplitData(Normalized_Data,Y_Data,0.33,42)

Normalized_X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
32729,0.000550,0.000118,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24946,0.000550,0.006942,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8676,0.026968,0.064980,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13244,0.028068,0.066992,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29384,0.007705,0.000036,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
Normalized_X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
22373,0.004953,0.003273,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10508,0.006054,0.028021,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11570,0.000000,0.004997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22262,0.000000,0.000373,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
734,0.007705,0.475642,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
Normalized_y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [17]:
Normalized_y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
#### Split  PCA_Data
####----------------------------------------------------------------

In [18]:
PCA_X_train, PCA_X_test, PCA_y_train, PCA_y_test  = myLib.mySplitData(PCA_Data,Y_Data,0.33,42)

PCA_X_train.head()

,0,1,2,3,4,5,6,7,8,9
32729,-0.222553,0.292974,0.905566,-0.156207,-0.108004,-0.031034,-0.021301,0.049798,-0.029505,0.008343
24946,-0.645160,-0.559037,-0.134429,-0.006461,-0.054666,-0.037338,-0.023402,-0.012285,-0.029396,0.004594
8676,0.697664,-0.148215,-0.076751,-0.039148,-0.073697,-0.033537,-0.020932,0.015286,-0.034662,-0.002680
13244,0.704243,-0.156342,-0.072746,-0.051335,-0.099742,-0.054160,-0.028270,0.051414,-0.058234,-0.000879
29384,0.702786,-0.119935,-0.090780,-0.060702,-0.137023,-0.101119,-0.124187,0.069149,-0.323210,0.732375

In [19]:
PCA_X_test.head()

,0,1,2,3,4,5,6,7,8,9
22373,-0.124243,0.125880,0.130238,0.040253,-0.039078,0.015508,0.270984,0.949819,0.308589,-0.015115
10508,0.709171,-0.165196,-0.059523,-0.058828,-0.110762,-0.062293,-0.032031,0.071032,-0.073414,0.007952
11570,-0.303163,0.781798,-0.421075,-0.036624,-0.226522,0.909061,0.066613,-0.180198,0.053251,-0.010871
22262,-0.292557,0.765531,-0.409850,-0.008972,-0.110564,-0.086296,-0.098266,0.056173,-0.179981,-0.059534
734,0.719920,-0.159430,-0.077170,-0.055402,-0.098803,-0.057414,-0.029475,0.044948,-0.058811,-0.006029

In [20]:
PCA_y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [21]:
PCA_y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
# Model Turning 
####----------------------------------------------------------------

In [22]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

def myDT(X_train,y_train,X_test,y_test,cv):
    clf = DecisionTreeClassifier(random_state=0)
    #Fit the model
    #The maximum depth of the tree. 
    #If None, then nodes are expanded until all leaves are pure
    # or until all leaves contain less than min_samples_split samples.
    #min_samples_split: by default = 1
    clf.fit(X_train, y_train)
    #check accuracy of model on the test data
    score = clf.score(X_test, y_test)
    #Using CV
    cv_scores = cross_val_score(clf, X_train, y_train, cv=cv)
    return score,cv_scores,[clf.get_n_leaves(),clf.get_depth()]

In [23]:
cv = 10
#Original Data
score,cv_scores,params = myDT(X_train,y_train,X_test,y_test,cv)
score

0.8474649220969269

In [24]:
cv_scores.mean()

0.8440044407457197

In [25]:
params

[3763, 42]

In [26]:
#Normalized Data
score,cv_scores,params = myDT(Normalized_X_train,Normalized_y_train,Normalized_X_test,Normalized_y_test,cv)
score

0.8475510028406645

In [27]:
cv_scores.mean()

0.8438772681997513

In [28]:
params

[3763, 42]

In [29]:
#PCA Data
score,cv_scores,params = myDT(PCA_X_train,PCA_y_train,PCA_X_test,PCA_y_test,cv)
score

0.7601790479469742

In [30]:
cv_scores.mean()

0.7536046510033533

In [31]:
params

#GridSearchCV

[4765, 51]

In [32]:
def myGS(X_train,y_train,depths,num_leafs):
    from sklearn.model_selection import GridSearchCV
    
    param_grid = [{'max_depth':depths,
                  'min_samples_leaf':num_leafs}]
    clf2 = DecisionTreeClassifier(random_state=0)
    gs = GridSearchCV(estimator=clf2, param_grid=param_grid, cv=10)
    
    gs = gs.fit(X_train, y_train)
    return gs

In [ ]:
depths = [1,2,4, 5, 8, 10,15, 20,25,30]
num_leafs = [1,2,4, 5, 8, 10, 20]
gs = myGS(X_train,y_train,depths,num_leafs)
gs.best_score_

In [ ]:
gs.best_params_