#### Course: Machine Learning 
#### Project: 01
#### Team members
#### + Mauro Travieso Pena
#### + Quoc Huy Luong
#### + Ngoc Bao Tran

# Overview of the experiment

<div class="alert alert-block alert-info">
Some comments here 
</div>

# Import Libraries

In [1]:
import pandas as pd
import numpy as np
import random as rnd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import import_ipynb 
import functions as myLib

importing Jupyter notebook from functions.ipynb

# Load data from files

In [2]:
RawData = pd.read_csv('../data/anime.csv')

#### Clean and Transform Data

In [3]:
Cleaned_Data = myLib.myCleanAndTransformData(RawData)
Y_Data = Cleaned_Data['Class']
X_Data = Cleaned_Data.drop(columns=['Class'])

#### Normalize  Data

In [4]:
Normalized_Data = myLib.myNormalize(X_Data)

#### PCA

In [5]:
n_components=0.95
PCA_Data = myLib.myPCA(Normalized_Data,n_components)
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-0.311566,0.786508,-0.420821,0.005236,-0.078664,-0.049645,-0.062636,0.007171,-0.075349,-0.030938,...,-0.011744,-0.014515,0.009411,-0.010531,-0.008272,-0.004233,0.005373,-0.013690,-0.006494,-0.008163
1,-0.284842,0.763991,-0.412009,-0.010872,-0.110067,-0.087028,-0.096769,0.054629,-0.179466,-0.045545,...,-0.007222,-0.013010,0.006297,-0.011384,-0.008348,-0.001472,0.008470,-0.013198,-0.008208,-0.008704
2,-0.284838,0.767910,-0.395570,-0.007614,-0.091869,-0.059765,-0.062085,0.036505,-0.086830,-0.024721,...,-0.009465,-0.014717,0.006508,-0.012759,-0.009977,-0.005428,0.006607,-0.015167,-0.012812,-0.008626
3,-0.291600,0.777175,-0.408316,0.000301,-0.080828,-0.049799,-0.056889,0.019143,-0.070776,-0.027970,...,-0.012244,-0.015416,0.007564,-0.011328,-0.009436,-0.007895,0.004350,-0.014764,-0.011774,-0.010498
4,0.732145,-0.153155,-0.102203,-0.458230,0.816867,0.046173,0.015773,-0.064780,0.014353,-0.005003,...,0.006875,-0.013200,0.019761,-0.014737,-0.007263,0.026816,0.025796,-0.020689,-0.000128,0.045994

####----------------------------------------------------------------
# Decision Tree Classification 
####----------------------------------------------------------------

In [6]:
Y_Data.head()

0    1
1    1
2    1
3    1
4    1
Name: Class, dtype: int64

In [7]:
X_Data.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
0,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,200630,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,64,793665,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
Normalized_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.197867,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.034673,0.782769,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
PCA_Data.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
0,-0.311566,0.786508,-0.420821,0.005236,-0.078664,-0.049645,-0.062636,0.007171,-0.075349,-0.030938,...,-0.011744,-0.014515,0.009411,-0.010531,-0.008272,-0.004233,0.005373,-0.013690,-0.006494,-0.008163
1,-0.284842,0.763991,-0.412009,-0.010872,-0.110067,-0.087028,-0.096769,0.054629,-0.179466,-0.045545,...,-0.007222,-0.013010,0.006297,-0.011384,-0.008348,-0.001472,0.008470,-0.013198,-0.008208,-0.008704
2,-0.284838,0.767910,-0.395570,-0.007614,-0.091869,-0.059765,-0.062085,0.036505,-0.086830,-0.024721,...,-0.009465,-0.014717,0.006508,-0.012759,-0.009977,-0.005428,0.006607,-0.015167,-0.012812,-0.008626
3,-0.291600,0.777175,-0.408316,0.000301,-0.080828,-0.049799,-0.056889,0.019143,-0.070776,-0.027970,...,-0.012244,-0.015416,0.007564,-0.011328,-0.009436,-0.007895,0.004350,-0.014764,-0.011774,-0.010498
4,0.732145,-0.153155,-0.102203,-0.458230,0.816867,0.046173,0.015773,-0.064780,0.014353,-0.005003,...,0.006875,-0.013200,0.019761,-0.014737,-0.007263,0.026816,0.025796,-0.020689,-0.000128,0.045994

####----------------------------------------------------------------
#### Split Original Data
####----------------------------------------------------------------

In [10]:
X_train, X_test, y_train, y_test  = myLib.mySplitData(X_Data,Y_Data,0.33,42)

X_train.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
32729,2,132,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24946,2,7051,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8676,50,65896,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13244,52,67936,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
29384,15,49,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
X_test.head()

,episodes,members,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,genre_ Adventure,genre_ Cars,...,genre_Shoujo,genre_Shounen,genre_Slice of Life,genre_Space,genre_Sports,genre_Super Power,genre_Supernatural,genre_Thriller,genre_Vampire,genre_Yaoi
22373,10,3331,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10508,12,28423,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11570,1,5078,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22262,1,390,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
734,15,482268,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [13]:
y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
#### Split Original Normalized_Data
####----------------------------------------------------------------

In [14]:
Normalized_X_train, Normalized_X_test, Normalized_y_train, Normalized_y_test  = myLib.mySplitData(Normalized_Data,Y_Data,0.33,42)

Normalized_X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
32729,0.000550,0.000118,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24946,0.000550,0.006942,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8676,0.026968,0.064980,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13244,0.028068,0.066992,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29384,0.007705,0.000036,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
Normalized_X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
22373,0.004953,0.003273,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10508,0.006054,0.028021,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11570,0.000000,0.004997,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22262,0.000000,0.000373,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
734,0.007705,0.475642,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
Normalized_y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [17]:
Normalized_y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
#### Split  PCA_Data
####----------------------------------------------------------------

In [18]:
PCA_X_train, PCA_X_test, PCA_y_train, PCA_y_test  = myLib.mySplitData(PCA_Data,Y_Data,0.33,42)

PCA_X_train.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
32729,-0.222553,0.292974,0.905566,-0.156236,-0.108039,-0.031219,-0.020903,0.049075,-0.031243,0.007778,...,-0.432688,-0.042669,0.027036,-0.022970,0.006588,0.054781,0.051865,0.070478,0.306314,-0.226371
24946,-0.645160,-0.559037,-0.134428,-0.006470,-0.054637,-0.037266,-0.023106,-0.012102,-0.029795,0.004538,...,0.049431,0.042369,-0.037740,-0.003015,0.012046,0.351036,0.801904,-0.403010,-0.204206,-0.088373
8676,0.697664,-0.148216,-0.076750,-0.039165,-0.073632,-0.033205,-0.020336,0.015727,-0.034394,-0.002522,...,0.146098,0.198386,-0.365102,-0.068307,0.856709,-0.128313,-0.056822,-0.036466,-0.035669,-0.023975
13244,0.704243,-0.156340,-0.072754,-0.051331,-0.099960,-0.053605,-0.030918,0.052105,-0.056604,-0.005999,...,-0.012942,-0.004175,0.003509,-0.000309,-0.002395,-0.014050,-0.011320,-0.002063,-0.002244,-0.006435
29384,0.702786,-0.119935,-0.090780,-0.060704,-0.137068,-0.101892,-0.122600,0.067904,-0.325710,0.726577,...,-0.006879,-0.000117,0.001898,0.001876,0.000047,-0.009539,-0.009872,0.000656,-0.000448,-0.001114

In [19]:
PCA_X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,30,31,32,33,34,35,36,37,38,39
22373,-0.124244,0.125881,0.130233,0.040249,-0.039136,0.017942,0.271909,0.949223,0.306448,-0.021897,...,-0.019527,-0.022852,0.030699,0.021077,0.014103,-0.014199,0.001122,-0.008867,-0.003691,-0.012307
10508,0.709170,-0.165195,-0.059533,-0.058881,-0.111079,-0.063238,-0.035956,0.070136,-0.072611,-0.002224,...,-0.010641,-0.002667,0.001413,-0.001029,-0.002557,-0.013115,-0.010665,-0.001371,-0.003180,-0.006933
11570,-0.303163,0.781798,-0.421075,-0.036601,-0.226477,0.908889,0.064877,-0.181653,0.053341,-0.011209,...,-0.006012,-0.006195,-0.000418,-0.007840,-0.006049,-0.004764,0.002179,-0.005678,-0.004569,-0.016359
22262,-0.292557,0.765531,-0.409849,-0.008916,-0.110510,-0.085442,-0.096079,0.057766,-0.179229,-0.042890,...,-0.009841,-0.008740,0.000727,-0.007452,-0.006511,-0.009549,-0.000106,-0.007036,-0.007446,-0.020945
734,0.719919,-0.159428,-0.077178,-0.055398,-0.099034,-0.056868,-0.032326,0.045662,-0.057094,-0.011491,...,-0.007486,-0.013042,0.015089,-0.008504,-0.006181,0.002722,0.006508,-0.014926,-0.003866,0.018935

In [20]:
PCA_y_train.head()

32729    1
24946    0
8676     1
13244    1
29384    1
Name: Class, dtype: int64

In [21]:
PCA_y_test.head()

22373    0
10508    1
11570    1
22262    0
734      1
Name: Class, dtype: int64

####----------------------------------------------------------------
# Model Turning 
####----------------------------------------------------------------